.lw { font-size: 60px; }

body{
  background-color: #fff;
  background-image: linear-gradient(45deg, #eec19c 25%, transparent 25%, transparent 75%, #eec19c 75%),
                    linear-gradient(45deg, #eec19c 25%, transparent 25%, transparent 75%, #eec19c 75%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
